.app_header {
  width: 100%;
  padding-block-start: 1.5%;
  padding-block-end: 1.5%;
  gap: 1rem;
  position: relative;
  justify-content: center;
  /* position: sticky;
  top: 0; */
  background-color: white;
}

.app_header_navbar {
  width: 100%;
  background-color: hsl(195, 22%, 96%);
  backdrop-filter: blur(50px);

  height: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.app_header_navbar__links {
  gap: 1rem;
  justify-content: center;
  padding-block: 2%;
}

.app_header_navbar__links_link {
  font-weight: 500;
  font-size: 1.070rem;
  gap: .8rem;
  color: var(--primary-color);
}

.menu_mobile_toggle {
  position: absolute;
  top: 50%;
  left: 0;
  display: none !important;
}

.active_link {
  font-weight: bold;
  color: var(--accent-color);
}
